body { 
    line-height: 26px;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    color: #777777;
}

.quote { font-weight: 400; font-size: 24pt; text-align: left; margin-bottom: 0.48em;  }
a {
    text-decoration: none;
    transition: all 0.3s ease-in-out; }
    a:hover, a:focus {
      text-decoration: none;
      outline: none; }

header { margin-bottom: 2em; }
div.footer-area { margin: 2em 0em; padding-top: 2em; border-top: 1px solid #777777; }
div.home_left_img { outline: 0px solid #000; }
div.home_left_img > img { width: 100%; }
a.navbar-brand img { outline: 1px solid #777; width: 20%; }
div.row > div.col-lg-4 { outline: 0px solid #ccc; padding: 0em 1.8em; }
ul.list { margin: 0em; padding: 0em; }
aside.social_widget { outline: 0px solid #ccc; }
aside.social_widget > ul.list > li { margin: 0em 0.8em; display: inline-block; outline: 0px solid #ccc; }
span.copyright { margin-top: 2em; display: block; }
div#content { margin-left: 3.2em; }
.space { margin-top: 1.2em; }
img.img-logo { width: 56%; outline: 0px solid #ccc; }
div.row > div.col-md-6 { text-align: center; }
div.row > div.col-md-4 { text-align: center; }
div.row > div.col-md-6 > img.img-logo { display: inline-block; }
div.row > div.col-md-4 > h6.des { font-weight: 600; width: auto; height: auto; display: inline-block; margin: 0em; outline: 0px solid #ccc; }
div.space > div.col-md-4 { width: 120px; height: 106px; outline: 0px solid #ccc; }
div.row > div.col-md-4 > img.img-logo { display: inline-block; }



@media (max-width:951px)  
{ 
    /* smartphones, Android phones, landscape iPhone */ 
    div.row > div.col-lg-4 { outline: 0px solid #ccc; margin: 1.2em 0em; }
    div.home_left_img > img { width: 48%; }
    
    img.img-logo { width: 28%; outline: 0px solid #ccc; }
}


@media (max-width:743px)  {
    div.home_left_img > img { width: 78%; }
}


@media (max-width:480px)  
{ 
    div#content { margin: 0em; }
    div.row > div.col-md-6 > h6 { font-weight: 400; font-size: 25pt; text-align: center; margin: 1.8em 0em; }
    div.home_left_img { text-align: center; }
    div.home_left_img > img { display: inline-block; }
    div.row > div.col-md-6 { text-align: center; }
    div.row > div.col-md-6 > img.img-logo { display: inline-block; }
    img.img-logo { width: 58%; outline: 0px solid #ccc; }
    /* smartphones, Android phones, landscape iPhone */ 
    div.row > div.col-lg-4 { outline: 0px solid #ccc; margin: 1.2em 0em; }
    div.home_left_img > img { width: 80%; }
}